#### import

In [41]:
import pandas as pd
import numpy as np

In [42]:
data = np.array([10, 20, 30, 40, 50, 60])

In [43]:
ds = pd.Series(data)
print(ds.shape)
ds

(6,)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int32

In [44]:
df = pd.DataFrame(data)
print(df.shape)
df

(6, 1)

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [45]:
data = np.array([['คีย์บอร์ด','อุปกรณ์คอม',1200],
                 ['ตุ๊กตา','ของเล่น',900],
                 ['Iphone','มือถือ',30000]])

In [46]:
pd = pd.DataFrame(data,columns=['Name','Category','Price'])
pd

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    900
2     Iphone      มือถือ  30000

In [47]:
import pandas as pd
import numpy as np

In [48]:
name = np.array(["คีย์บอร์ด", "ตุ๊กตา", "Iphone"])
category = np.array(["อุปกรณ์คอม", "ของเล่น", "มือถือ"])
price = np.array([1200, 900, 30000])

In [49]:
datas = list(zip(name, category, price))
df = pd.DataFrame(datas, columns=['Name', 'Category', 'Price'])
print(df)

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    900
2     Iphone      มือถือ  30000

In [50]:
# List of example products (list of dictionaries)
products = [
    {"Name": "Keyboard", "Category": "Electronics", "Price": 1200},
    {"Name": "Teddy Bear", "Category": "Toys", "Price": 20},
    {"Name": "Smartphone", "Category": "Electronics", "Price": 500},
    {"Name": "Laptop", "Category": "Electronics", "Price": 1500},
    {"Name": "Baseball Bat", "Category": "Sports", "Price": 50},
    {"Name": "Headphones", "Category": "Electronics", "Price": 100},
    {"Name": "Board Game", "Category": "Toys", "Price": 30},
    {"Name": "Camera", "Category": "Electronics", "Price": 800},
    {"Name": "Doll", "Category": "Toys", "Price": 15},
    {"Name": "Fitness Tracker", "Category": "Sports", "Price": 80}
]
products

[{'Name': 'Keyboard', 'Category': 'Electronics', 'Price': 1200},
 {'Name': 'Teddy Bear', 'Category': 'Toys', 'Price': 20},
 {'Name': 'Smartphone', 'Category': 'Electronics', 'Price': 500},
 {'Name': 'Laptop', 'Category': 'Electronics', 'Price': 1500},
 {'Name': 'Baseball Bat', 'Category': 'Sports', 'Price': 50},
 {'Name': 'Headphones', 'Category': 'Electronics', 'Price': 100},
 {'Name': 'Board Game', 'Category': 'Toys', 'Price': 30},
 {'Name': 'Camera', 'Category': 'Electronics', 'Price': 800},
 {'Name': 'Doll', 'Category': 'Toys', 'Price': 15},
 {'Name': 'Fitness Tracker', 'Category': 'Sports', 'Price': 80}]

In [51]:
df = pd.DataFrame(products)

In [52]:
df.set_index(["Name"],inplace=True)

In [53]:
df

                    Category  Price
Name
Keyboard         Electronics   1200
Teddy Bear              Toys     20
Smartphone       Electronics    500
Laptop           Electronics   1500
Baseball Bat          Sports     50
Headphones       Electronics    100
Board Game              Toys     30
Camera           Electronics    800
Doll                    Toys     15
Fitness Tracker       Sports     80

In [54]:
name = np.array(["คีย์บอร์ด", "ตุ๊กตา", "Iphone"])
category = np.array(["อุปกรณ์คอม", "ของเล่น", "มือถือ"])
price = np.array([1200, 900, 30000])

In [56]:
df = pd.DataFrame({
    "Name": name,
    "Category": category,
    "Price": price
})
df

        Name    Category  Price
0  คีย์บอร์ด  อุปกรณ์คอม   1200
1     ตุ๊กตา     ของเล่น    900
2     Iphone      มือถือ  30000

In [57]:
df.set_index('Name')

             Category  Price
Name
คีย์บอร์ด  อุปกรณ์คอม   1200
ตุ๊กตา        ของเล่น    900
Iphone         มือถือ  30000